
#
# Build Configuration
#
CONFIG_PROJECT_NAME="c_learning_project"
CONFIG_PROJECT_VERSION="1.0.0"
# CONFIG_DEBUG is not set
# end of Build Configuration

#
# Modules
#

#
# Core Modules
#
CONFIG_MODULE_STDIO=y
CONFIG_STDIO_COMMON=y
CONFIG_MODULE_ALGORITHM=y
CONFIG_MODULE_DYNAMIC_MEMORY=y

#
# Advanced Modules
#
CONFIG_MODULE_FILE_OPS=y
# CONFIG_FILE_OPS_BINARY_ONLY is not set
CONFIG_MODULE_NETWORK=y
# CONFIG_NETWORK_VERBOSE is not set
# end of Modules

#
# Compiler Options
#
# CONFIG_OPT_NONE is not set
# CONFIG_OPT_O1 is not set
CONFIG_OPT_O2=y
# CONFIG_OPT_O3 is not set
CONFIG_MAX_STACK_SIZE_KB=64
CONFIG_MEMORY_BASE_ADDRESS=0x08000000
# end of Compiler Options

#
# Debug & Logging
#
CONFIG_ENABLE_LOGGING=y
# CONFIG_LOG_LEVEL_ERROR is not set
# CONFIG_LOG_LEVEL_WARN is not set
CONFIG_LOG_LEVEL_INFO=y
# CONFIG_LOG_LEVEL_DEBUG is not set
CONFIG_LOG_CHANNEL_MASK=0xFF
# end of Debug & Logging

#
# Platform Info
#
CONFIG_TARGET_PLATFORM="linux-x86_64"

#
# Network module is supported on Linux only
#
CONFIG_NETWORK_PLATFORM_CHECK=y

#
# ifconfig must be available in PATH
#
# end of Platform Info
